@font-face {
    font-family: 'NotoSerif';
    src: url('./fonts/NotoSerif-Regular.ttf');
}

@font-face {
    font-family: 'NotoSerif';
    src: url('./fonts/NotoSerif-Bold.ttf');
    font-weight: bold;
}

* {
    font-family: NotoSerif !important;
}
